* {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.input, .output {
  margin: 20px auto;
  padding: 10px;
  color: white;
  border: 1px solid #333333;
  background: #666666;
}

#status.on {
  color: #99ff66;
}

#status.off {
  color: #ff9966;
}
